<div class="column">
<h4>Create Team</h4>
<%= form_for @team, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
  <%= f.text_field :team_name, class: 'form-input' %>
  </div>
  <div class="form-group">
    <%= f.fields_for :team_player do |team_player| %>
    <%= team_player.collection_select(:player_ids, Player.all, :id, :full_name , {required: true, include_blank: false}, {class: 'form-select'}) %>
    <%= team_player.hidden_field :position, value: 1 %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.fields_for :team_player do |team_player| %>
    <%= team_player.collection_select(:player_ids, Player.all, :id, :full_name , {required: true, include_blank: false}, {class: 'form-select'}) %>
    <%= team_player.hidden_field :position, value: 2 %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.fields_for :team_player do |team_player| %>
    <%= team_player.collection_select(:player_ids, Player.all, :id, :full_name , {required: true, include_blank: false}, {class: 'form-select'}) %>
    <%= team_player.hidden_field :position, value: 3 %>
    <% end %>
  </div>
  <%= f.submit class: 'btn btn-primary input-group-btn' %>
<% end%>
</div>