<div class="column">
<h4>Create Team</h4>
<%= form_for @team, :html => { id: :form_id, :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
  <%= f.text_field :team_name, class: 'form-input' %>
  </div>
  <% for i in 1..10 do %>
    <div class="form-group">
      <%= f.fields_for :team_players do |team_player| %>
      <%= team_player.collection_select(:player_id, Player.all, :id, :full_name , {required: true, include_blank: false}, {class: 'form-select'}) %>
      <%= team_player.hidden_field :position, value: "#{i}" %>
    </div>
  <% end %>
  <% end %>
  </div>
  </div>
  <%= f.submit class: 'btn btn-primary submission', form: :form_id %>
<% end%>
</div>