<div class="column">
<h4><%= @team.team_name %> - <em><%= @team.tournament.tournament_name %></em></h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Round 1</th>
      <th>Round 2</th>
      <th>Round 3</th>
      <th>Round 4</th>
    </tr>
  </thead>
  <tbody>
  <% @team.team_players.each do |team_player| %>
    <tr>
      <td><%= team_player.position %></td>
      <td><%= team_player.player.full_name %></td>
      <td>ROUND_1 SCORE</td>
      <td>ROUND_2 SCORE</td>
      <td>ROUND_3 SCORE</td>
      <td>ROUND_4 SCORE</td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit Team', edit_team_path(@team), class: "btn btn-primary input-group-btn" %>
<%= link_to 'Back', :back, class: 'btn btn-link float-right' %>
</div>